* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-image: linear-gradient(to right, #62b8f5, #4475ef);
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 25%;
    margin: 100px auto;
    box-shadow: 0 1.8em 3.7em rgba(3, 46, 87, 0.2);
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 12px;
}

.form {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.result .temp {
    font-size: 60px;
}

input {
    flex: 2;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
}

button {
    flex: 1;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #4475ef;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result img {
    width: 80px;   
}

.clouds, .sky {
    text-transform: uppercase;
    color: rgb(226, 226, 226);
}

.result div {
    display: flex;
    justify-content: center;
}

.result div p {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 6px;
}

.result div p:first-child {
    border-right: 1px solid white;
}

.result div p:last-child {
    border-left: 1px solid white;
}

.min, .max {
    color: lightgray;
    font-size: 14px;
}

::placeholder {
    color: rgb(240, 240, 240);
}

@media screen and (max-width: 1300px) {
    .wrapper {
        width: 40%;
    }
}

@media screen and (max-width: 1100px) {
    .wrapper {
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    .wrapper {
        width: 80%;
    }
}


@media screen and (max-width: 600px) {
    body {
        background-color: white;
    }

    .wrapper {
        width: 100%;
        border-radius: 0;
        margin-top: 100px;
        background-color: transparent;
        box-shadow: 0px 0px 0px 0px;
    }
}